table {
    width: 100%;
    border-collapse: collapse;
  }

  table,
  th,
  td {
    border: 1px solid black;
  }
  th,
  td {
    padding: 10px;
    text-align: left;
  }
  th {
    background-color: #c2c2c2;
    font-family: "custombold";
    color:red;
  }   

  td{
    color:blue;
    font-family: "customregular"; 
  }



  @font-face {
    font-family: "custombold";
    src: url('/adventure-font/AdventureSubtitlesBold-K8mX.ttf');
  }

  @font-face{
    font-family: "customregular";
    src:url('/adventure-font/Adventure-YGZ2.ttf');
    }
