@font-face {
    font-family: "movie-font";
    src: url(adventure-font/AdventureSubtitlesBold-K8mX.ttf);
  }
  h1,p,title { 
  font-family: "movie-font";
  text-align:center;
  }
  
  h2,thead, tbody{
    font-family:"movie-font";    
  }
  
  html{
    background-color:bisque
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
